html {
  padding: 0;
  margin: 0;
  background: #e7e7e9;
  font-family: "Bebas Neue", cursive;
}
.main {
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #e7e7e9;
}
.main .title {
  font-size: 40px;
  margin-bottom: 50px;
  font-family: "Bebas Neue", cursive;
}
.carousel {
  display: flex;
}
.carousel .prevButton,
.carousel .nextButton {
  height: 200px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel .prevButton img,
.carousel .nextButton img {
  height: 20px;
  width: 20px;
}
.carousel .prevButton img {
  transform: rotate(180deg);
}
.carousel .slideBox {
  height: 200px;
  width: 600px;
  overflow: hidden;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;

  margin: 0 20px;
  border-radius: 5px;
}
.carousel .slide {
  flex-shrink: 0;
  font-size: 36px;
  height: 200px;
  width: 200px;
  background: rgba(255, 187, 0, 0.133);
  text-align: center;
  line-height: 200px;
  position: relative;
  left: 0;
  transition: ease-in-out 0.3s;
}
.carousel .slide img {
  object-fit: cover;
  object-position: center;
}
.carousel .prevButton,
.carousel .nextButton {
  background: #ff0023;
}
