html {
  font-family: "Bebas Neue", cursive;
  background: #e7e7e9;
}
.main {
  background: #e7e7e9;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.main .title {
  font-size: 40px;
  font-family: "Bebas Neue", cursive;
  margin: 200px auto 0 auto;
}
.feed {
  height: fit-content;
  width: 300px;
  background: #ff0023;
  border-radius: 10px;
  margin: 20px auto 0 auto;
  padding: 10px;
}
.feed .content {
  width: 100%;
}
.feed .content .item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 100%;
  background: #ffffff;
  border-radius: 5px;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.4);
  margin: 5px 0;
  transition: 0.3s ease-in-out;
}
.feed .content .item p {
  margin: 0;
  font-size: 1rem;
}
.feed .content .item:hover {
  background: #aaaaaa;
}
.feed .open-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  line-height: 50px;
  height: 50px;
  width: 100%;
  background: #f7f7ff;
  border-radius: 5px;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.4);
  margin: 5px 0;
  transition: background 0.3s ease-in-out;
  animation: fadein 0.5s;
}
.feed .open-button .loader {
  height: 20px;
  width: 20px;
  animation-name: loader;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  background-color: brown;
}
.feed .open-button:hover {
  background: #fe5f55;
}

@keyframes loader {
  10% {
    transform: rotateZ(36deg);
  }
  20% {
    transform: rotateZ(72deg);
  }
  30% {
    transform: rotateZ(108deg);
  }
  40% {
    transform: rotateZ(144deg);
  }
  50% {
    transform: rotateZ(180deg);
  }
  60% {
    transform: rotateZ(216deg);
  }
  70% {
    transform: rotateZ(252deg);
  }
  80% {
    transform: rotateZ(288deg);
  }
  90% {
    transform: rotateZ(324deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
