html {
  padding: 0;
  margin: 0;
}
// Carousel styles
.carousel {
  font-size: 0;
  .prevButton,
  .nextButton {
    display: inline-block;
    height: 200px;
    width: 50px;
    font-size: 0;
  }
  .slideBox {
    display: inline-block;
    height: 200px;
    width: 600px;
    vertical-align: top;
    overflow: hidden;
    white-space: nowrap;
  }
  .slide {
    font-size: 36px;
    display: inline-block;
    height: 200px;
    width: 200px;
    background: rgba(255, 187, 0, 0.133);
    text-align: center;
    line-height: 200px;
    position: relative;
    left: 0;
    transition: ease-in-out 0.3s;
  }
  .prevButton,
  .nextButton {
    background: rgba(255, 0, 0, 0.133);
  }
}

// Header

.header {
  width: 100%;
  height: 500px;
  background: rgb(52, 42, 255);
  background: linear-gradient(
    148deg,
    rgba(52, 42, 255, 1) 0%,
    rgba(177, 65, 255, 1) 100%
  );
  .nav-bar {
    height: 80px;
    width: 100%;
    .brand-logo {
      display: inline-block;
      height: 80px;
      width: 120px;
      background: lightblue;
    }
  }
  .header-main-block {
    text-align: center;
    height: 420px;
    width: 100%;
    white-space: nowrap;
    font-size: 0;
    .jump-button-block {
      height: 420px;
      width: 20px;
      float: left;
      margin-right: 20px;
      .jump-button {
        height: 100px;
        width: 20px;
        margin: 30px 0;
        background: lightblue;
        transform: rotateY(0);
        transition: ease-in-out 1s;
      }
      .open {
        width: 100px;
        transform: rotateY(180deg);
        transition: ease-in-out 1s;
      }
    }
    .headline-block {
      display: inline-block;
      height: 300px;
      width: 870px;
      vertical-align: top;
      margin: 60px auto;
      .circle-info {
        display: inline-block;
        width: 300px;
        height: 300px;
        background: lightblue;
        border-radius: 50%;
        margin-right: 70px;
      }
      .headline-text {
        display: inline-block;
        height: 300px;
        width: 500px;
        background: lightblue;
      }
    }
  }
}

.roll-list {
  display: inline-block;
  margin: 30px;
  font-size: 0;
  white-space: nowrap;
  .button {
    width: 150px;
    height: 50px;
    background: blue;
    border-radius: 5px 5px 0 0;
    // For sideways animation
    display: inline-block;
    border-radius: 5px 0 0 5px;
  }
  .item {
    height: 50px;
    width: 150px;
    margin: 1px 0;
    font-size: 20px;
    text-align: center;
    line-height: 50px;
    background: grey;
    opacity: 100%;
    transform: rotateY(0);
    transition: 0.4s ease-in-out;
    // For sideways animation
    display: inline-block;
    vertical-align: top;
    margin: 0;
    transform: rotateX(0);
  }
  .closed {
    transform: rotateY(-180deg);
    opacity: 0;
    transition: 0.2s ease-in-out;
    // For sideways animation
    transform: rotateX(-180deg);
  }
  .end {
    border-radius: 0 0 5px 5px;
    // For sideways animation
    border-radius: 0 5px 5px 0;
  }
}

// .slide-right-list {
//   display: inline-block;
//   margin: 30px;
//   vertical-align: top;
//   font-size: 0;
//   .button {
//     display: inline-block;
//     position: absolute;
//     vertical-align: top;
//     height: 150px;
//     width: 50px;
//     margin: 0 1px;
//     background: blue;
//     z-index: 1;
//   }
//   .item {
//     display: inline-block;
//     position: absolute;
//     font-size: 15px;
//     vertical-align: top;
//     margin: 0 1px;
//     height: 150px;
//     width: 50px;
//     background: grey;
//   }
// }

.feed {
  height: fit-content;
  width: 300px;
  background: #495867;
  border-radius: 10px;
  margin: 20px auto;
  padding: 20px;
  .content {
    width: 260px;
    .item {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 80px;
      width: 260px;
      background: #577399;
      border-radius: 20px;
      box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.4);
      margin: 5px 0;
      transition: 0.3s ease-in-out;

      p {
        margin: 0;
        font-size: 1rem;
      }
    }
    .item:hover {
      background: #bdd5ea;
    }
  }
  .open-button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    line-height: 50px;
    height: 50px;
    width: 260px;
    background: #f7f7ff;
    border-radius: 20px;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.4);
    margin: 5px 0;
    transition: background 0.3s ease-in-out;
    animation: fadein 0.5s;
    .loader {
      height: 20px;
      width: 20px;
      animation-name: loader;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      background-color: brown;
    }
  }
  .open-button:hover {
    background: #fe5f55;
  }
}

@keyframes loader {
  10% {
    transform: rotateZ(36deg);
  }
  20% {
    transform: rotateZ(72deg);
  }
  30% {
    transform: rotateZ(108deg);
  }
  40% {
    transform: rotateZ(144deg);
  }
  50% {
    transform: rotateZ(180deg);
  }
  60% {
    transform: rotateZ(216deg);
  }
  70% {
    transform: rotateZ(252deg);
  }
  80% {
    transform: rotateZ(288deg);
  }
  90% {
    transform: rotateZ(324deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
